[sv7n3q] {
	h3 {
		margin: var( --space-block-s ) 0 var( --space-block-xs ) ;

		&:first-of-type {
			margin-top: 0 ;
		}
	}

	ul {
		display: flex ;
		flex-wrap: wrap ;
		gap: 5px 10px ;
		margin-left: 26px ;

		li {
			text-transform: capitalize ;
		}
	}

	a[role="button"] {
		color: inherit ;
		cursor: pointer ;
		text-decoration: none ;

		&:hover {
			text-decoration: underline ;
		}
	}
}
