<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!--
			Allows non-2xx responses from the ColdFusion server to be rendered by IIS.
			Without this, IIS will intercept the error responses and render its own error.
		-->
		<httpErrors existingResponse="PassThrough" />
	</system.webServer>
</configuration>