[we8bhj] {
	&.we8bhj {
		padding-block: var( --space-block-xl ) ;
		text-align: center ;
	}

	&.hero {
		margin-block-end: var( --space-block-xl ) ;

		&_title {
			font-size: var( --font-size-xxl ) ;
			margin-bottom: var( --space-block ) ;
		}

		&_description {
			color: var( --text-muted ) ;
			font-size: var( --font-size-l ) ;
		}
	}

	&.actions {
		align-items: center ;
		display: flex ;
		flex-wrap: wrap ;
		gap: var( --space-inline-l ) ;
		justify-content: center ;
	}
}
