[z6s31p] {
	&.name {
		font-size: var( --font-size-l ) ;
		margin-bottom: var( --space-block ) ;
	}

	&.proser {
		display: flex ;
		gap: var( --space-inline ) ;

		&_content {
			font-size: var( --font-size-l ) ;
			height: auto ;
			min-height: 14em ; // Roughly two stanzas.
			overflow: hidden ;
		}

		&_counts {
			background-color: var( --stone-1 ) ;
			border: 1px solid var( --stone-1 ) ;
			border-radius: var( --radius ) ;
			font-size: var( --font-size-l ) ;
			height: auto ;
			line-height: var( --line-height-ui ) ; // To match textarea.
			padding: var( --pad-block ) var( --pad-inline ) ;
			text-align: right ;
		}
	}

	&.wordTools {
		align-items: flex-start ;
		display: flex ;
		gap: var( --space-inline-xl ) ;
		margin-top: var( --space-block-xl ) ;

		> * {
			flex: 1 1 50% ;
		}
	}
}
