
// @import (inline) "./open-props/props.borders.css" ;
@import (inline) "./open-props/props.colors.css" ;
// @import (inline) "./open-props/props.easing.css" ;
@import (inline) "./open-props/props.fonts.css" ;
// @import (inline) "./open-props/props.shadows.css" ;
// @import (inline) "./open-props/props.sizes.css" ;
// @import (inline) "./open-props/props.zindex.css" ;

// ---
// THEME VARIABLES.
// ---

.less-theme-light() {

	// Stacking context / layers.
	--layer-base: 0 ;
	--layer-sticky: 100 ;
	--layer-overlay: 200 ;
	--layer-modal: 300 ;
	--layer-popover: 400 ;
	--layer-tooltip: 500 ;
	--layer-important: 2147483647 ;

	// Block / vertical rhythm.
	--space-block-xxs: 0.3rem ;
	--space-block-xs: 0.7rem ;
	--space-block-s: 1.0rem ;
	--space-block: 1.4rem ;
	--space-block-l: 2.1rem ;
	--space-block-xl: 2.8rem ;

	// Inline / horizontal rhythm.
	--space-inline-xxs: 0.2rem ;
	--space-inline-xs: 0.4rem ;
	--space-inline-s: 0.6rem ;
	--space-inline: 0.8rem ;
	--space-inline-l: 1.2rem ;
	--space-inline-xl: 1.6rem ;

	// Block internal comfort.
	--pad-block-xs: 0.35rem ;
	--pad-block-s: 0.525rem ;
	--pad-block: 0.7rem ;
	--pad-block-l: 1.05rem ;
	--pad-block-xl: 1.4rem ;

	// Inline internal comfort.
	--pad-inline-xs: 0.45rem ;
	--pad-inline-s: 0.675rem ;
	--pad-inline: 0.9rem ;
	--pad-inline-l: 1.35rem ;
	--pad-inline-xl: 1.8rem ;

	// Font sizes.
	--font-size-xs: 0.64rem ;
	--font-size-s: 0.8rem ;
	--font-size: 18px ;
	--font-size-l: 1.25rem ;
	--font-size-xl: 1.56rem ;
	--font-size-xxl: 1.95rem ;
	--font-size-xxxl: 2.4357rem ;
	--font-size-smaller: 90% ;

	// Font weights.
	--font-weight-xlight: 100;
	--font-weight-light: 300;
	--font-weight: 400 ;
	--font-weight-bold: 700 ;
	--font-weight-xbold: 800 ;

	// Font families.
	--font-family-body: var( --font-geometric-humanist ) ;
	--font-family-heading: var( --font-geometric-humanist ) ;
	--font-family-control: var( --font-geometric-humanist ) ;
	--font-family-mono: var( --font-monospace-slab-serif );
	--font-family-emoji: verdana, arial, sans-serif ;

	// Line heights.
	--line-height-body: 1.5 ;
	--line-height-heading: 1.3 ;
	--line-height-ui: 1.4 ;

	// Borer radius.
	--radius-xs: 0 ;
	--radius-s: 2px ;
	--radius: 4px ;
	--radius-l: 6px ;
	--radius-xl: 8px ;
	--radius-round: 999999px ;

	// Animations / transitions.
	--duration-xs: 100ms ;
	--duration-s: 150ms ;
	--duration: 200ms ;
	--duration-l: 250ms ;
	--duration-xl: 300ms ;

	// Base body.
	--text: var( --stone-11 ) ;
	--text-muted: var( --stone-8 ) ;
	--fill: #ffffff ;

	// Links.
	--link-text: var( --indigo-7 ) ;
	--link-hover-text: var( --indigo-9 ) ;

	// Base / auxiliary buttons.
	--button-text: var( --gray-9 ) ;
	--button-fill: var( --gray-1 ) ;
	--button-stroke: var( --gray-7 ) ;
	--button-hover-text: var( --gray-11 ) ;
	--button-hover-fill: var( --gray-3 ) ;
	--button-hover-stroke: var( --gray-9 ) ;

	// Submit buttons.
	--button-submit-text: #ffffff ;
	--button-submit-fill: var( --indigo-7 ) ;
	--button-submit-stroke: var( --indigo-9 ) ;
	--button-submit-hover-text: #ffffff ;
	--button-submit-hover-fill: var( --indigo-9 ) ;
	--button-submit-hover-stroke: var( --indigo-11 ) ;

	// Cancel buttons.
	--button-cancel-text: var( --stone-9 ) ;
	--button-cancel-fill: transparent ;
	--button-cancel-stroke: var( --stone-4 ) ;
	--button-cancel-hover-text: var( --stone-9 ) ;
	--button-cancel-hover-fill: transparent ;
	--button-cancel-hover-stroke: var( --stone-9 ) ;

	// Destructive buttons.
	--button-danger-text: #ffffff ;
	--button-danger-fill: var( --red-7 ) ;
	--button-danger-stroke: var( --red-9 ) ;
	--button-danger-hover-text: #ffffff ;
	--button-danger-hover-fill: var( --red-9 ) ;
	--button-danger-hover-stroke: var( --red-11 ) ;
	// Specialized link-only version.
	--button-danger-link-text: var( --red-7 ) ;
	--button-danger-link-hover-text: var( --red-9 ) ;

	// Visually contrasted buttons (no special semantics).
	--button-inverted-text: #ffffff ;
	--button-inverted-fill: var( --stone-10 ) ;
	--button-inverted-stroke: var( --stone-10 ) ;
	--button-inverted-hover-text: #ffffff ;
	--button-inverted-hover-fill: var( --stone-9 ) ;
	--button-inverted-hover-stroke: var( --stone-10 ) ;

	// Form inputs.
	--input-text: inherit ;
	--input-fill: #ffffff ;
	--input-stroke: var( --stone-7 ) ;
	--input-focus-stroke: var( --pink-7 ) ;
	--input-error-text: var( --red-9 ) ;
	--input-error-stroke: var( --red-9 ) ;
	--input-placeholder-text: var( --stone-6 ) ;
	--input-inset-shadow: inset 1px 1px 2px #dadada ;

	// Accent / focus.
	--accent: var( --pink-6 ) ;
	--focus-ring-stroke: var( --pink-7 ) ;
	--focus-ring-stroke-muted: var( --pink-1 ) ;

	// Required indicator.
	--star-text: #9c0099 ;

	// Nav links.
	--nav-text: var( --text ) ;
	--nav-fill: var( --fill ) ;
	--nav-text-hover: var( --text ) ;
	--nav-fill-hover: var( --stone-1 ) ;
	--nav-text-active: var( --text ) ;
	--nav-fill-active: var( --stone-3 ) ;

	// Feedback.
	--success-fill: var( --lime-0 ) ;
	--success-stroke: var( --lime-9 ) ;
	--success-text: var( --lime-10 ) ;

	--warning-fill: var( --yellow-2 ) ;
	--warning-stroke: var( --yellow-9 ) ;
	--warning-text: var( --yellow-10 ) ;

	--error-fill: var( --red-0 ) ;
	--error-stroke: var( --red-9 ) ;
	--error-text: var( --red-10 ) ;

	--info-fill: var( --stone-1 ) ;
	--info-stroke: var( --stone-9 ) ;
	--info-text: var( --stone-9 ) ;

	// Tables.
	--table-stroke: var( --stone-9 ) ;
	--table-fill-hover: var( --yellow-0 ) ;

	// Rules / dividers.
	--rule-nav: var( --stone-9 ) ;
	--rule-content: var( --stone-5 );
	--rule-accent: var( --cyan-9 ) ;

	// Highlighted text.
	--mark-text: #121210 ;
	--mark-fill: #ffe066 ;

	// Status indicator.
	--indicator-stroke: var( --purple-8 ) ;

	// Note: I have to escape this URL using ~"{code}" or Parcel breaks 90% of the time.
	// There appears to be a race condition with Parcel > Less > Url().
	--select-carrot-image: ~"url( 'data:image/svg+xml;utf8,%3Csvg%20width=%2213%22%20height=%227%22%20viewBox=%220%200%2013%207%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpolygon%20stroke=%22none%22%20fill=%22%25230d0f12%22%20fill-rule=%22evenodd%22%20points=%220%200%206.5%207%2013%200%22%3E%3C/polygon%3E%3C/svg%3E' )" ;

}

.less-theme-dark() {
	/*
	--text: #93b8dc ;
	--fill: #0d1117 ;

	--accent: #e64980 ;

	--mark-text: #121210 ;
	--mark-fill: #ffe066 ;

	--error-fill: #441010 ;
	--error-stroke: #8b2424 ;
	--error-text: #f98484 ;

	--success-fill: #2f4407 ;
	--success-stroke: #749a42 ;
	--success-text: #d7fe92 ;

	--code-fill: #011e3b ;
	--code-text: #3780EF ;

	--control-fill: #0d1117 ;
	--control-stroke: #253b56 ;
	--control-stroke-error: #8b2424 ;
	--control-text: #979562 ;
	--control-inset-shadow: inset 1px 1px 2px #dadada22 ;

	--button-tertiary-text: #0d0f12 ;
	--button-tertiary-fill: #f1f3f5 ;
	--button-tertiary-stroke: #7e8282 ;

	--button-primary-text: #f2f4f6 ;
	--button-primary-fill: #004396 ;
	--button-primary-stroke: #0052b8 ;

	--button-danger-text: #fff5f5 ;
	--button-danger-fill: #b21a1a ;
	--button-danger-stroke: #e03131 ;

	--button-secondary-text: #93b8dc ;
	--button-secondary-fill: transparent ;
	--button-secondary-stroke: #383838 ;
	--button-secondary-stroke-hover: #93b8dc ;

	--nav-text: var( --text ) ;
	--nav-fill: var( --fill ) ;
	--nav-text-on: var( --text ) ;
	--nav-fill-on: #472240 ;

	// Note: I have to escape this URL using ~"{code}" or Parcel breaks 90% of the time.
	// There appears to be a race condition with Parcel > Less > Url().
	--select-carrot-image: ~"url( 'data:image/svg+xml;utf8,%3Csvg%20width=%2213%22%20height=%227%22%20viewBox=%220%200%2013%207%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpolygon%20stroke=%22none%22%20fill=%22%2523979562%22%20fill-rule=%22evenodd%22%20points=%220%200%206.5%207%2013%200%22%3E%3C/polygon%3E%3C/svg%3E' )" ;

	:where( img ) {
		opacity: 0.5 ;
		transition: opacity 500ms ease-in ;
	}
	:where( img:hover ) {
		opacity: 1.0 ;
	}
	*/
}

html {
	:where( & ) {
		.less-theme-light() ;
	}

	:where( &[data-theme="dark"] ) {
		.less-theme-dark() ;
	}

	@media ( prefers-color-scheme: dark ) {
		:where( & ) {
			.less-theme-dark() ;
		}
	}
}

// ---
// CSS RESET.
// ---

* {
	margin: 0 ;
	padding: 0 ;
}

html {
	:where( & ) {
		background-color: var( --fill ) ;
		box-sizing: border-box ;
		color: var( --text ) ;
		font-family: var( --font-family-body ) ;
		font-size: var( --font-size ) ;
		font-weight: var( --font-weight ) ;
		line-height: var( --line-height-body ) ;
		scrollbar-gutter: stable ;
			-moz-text-size-adjust: none ;
			-webkit-text-size-adjust: none ;
		text-size-adjust: none ;
	}

	*,
	*:before,
	*:after {
		box-sizing: inherit ;
	}
}

body {
	min-height: 100vh ;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	:where( & ) {
		display: block ;
	}
}

h1, .h1 {
	:where( & ) {
		font-family: var( --font-family-heading ) ;
		font-size: var( --font-size-xxxl ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-heading ) ;
		margin-bottom: var( --space-block ) ;
	}
}

h2, .h2 {
	:where( & ) {
		font-family: var( --font-family-heading ) ;
		font-size: var( --font-size-xxl ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-heading ) ;
		margin-bottom: var( --space-block ) ;
	}
}

h3, .h3 {
	:where( & ) {
		font-family: var( --font-family-heading ) ;
		font-size: var( --font-size-xl ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-heading ) ;
		margin-bottom: var( --space-block-s ) ;
	}
}

h4, .h4 {
	:where( & ) {
		font-family: var( --font-family-heading ) ;
		font-size: var( --font-size-l ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-heading ) ;
		margin-bottom: var( --space-block-xs ) ;
	}
}

h5, .h5,
h6, .h6 {
	:where( & ) {
		font-family: var( --font-family-heading ) ;
		font-size: var( --font-size ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-heading ) ;
		margin-bottom: var( --space-block-xs ) ;
	}
}

p {
	:where( & ) {
		margin-bottom: var( --space-block ) ;
	}
}

table {
	:where( & ) {
		border-collapse: collapse ;
		border-spacing: 0 ;
		margin-bottom: var( --space-block-l ) ;
	}
}

th,
td {
	:where( & ) {
		color: inherit ;
		font-family: inherit ;
		font-size: inherit ;
		padding: var( --pad-block ) var( --pad-inline ) ;
	}

	:where( &:not([align]) ) {
		text-align: left ;
	}
}

th {
	:where( & ) {
		font-weight: var( --font-weight-bold ) ;
	}

	:where( &:not([valign]) ) {
		vertical-align: bottom ;
	}
}

dl {
	:where( & ) {
		margin-bottom: var( --space-block ) ;
	}
}

dt {
	:where( & ) {
		font-weight: var( --font-weight-bold ) ;
	}
}

ul,
ol {
	:where( & ) {
		margin-bottom: var( --space-block ) ;
		padding-left: 2.5rem ;
	}
}

ol {
	:where( & ) {
		list-style-type: decimal ;
	}
}

ul {
	:where( & ) {
		list-style-type: disc ;
	}
}

li {
	:where( & ) {
		margin-bottom: var( --space-block-xxs ) ;
	}
}

blockquote {
	:where( & ) {
		margin-left: var( --space-block-xl ) ;
		margin-right: var( --space-block-xl ) ;
	}
}

summary {
	:where( & ) {
		cursor: pointer ;
	}
}

th,
td,
blockquote {
	:where( & > *:last-child ) {
		margin-bottom: 0 ;
	}
}

hr {
	:where( & ) {
		margin-bottom: var( --space-block ) ;
	}
}

a {
	:where( & ) {
		color: var( --link-text ) ;
		cursor: pointer ;
		text-decoration: underline ;

		&:hover {
			color: var( --link-hover-text ) ;
		}
	}
}

mark {
	:where( & ) {
		background-color: var( --mark-fill ) ;
		color: var( --mark-text ) ;
	}
}

strong {
	font-weight: var( --font-weight-bold ) ;
}

small {
	:where( & ) {
		font-size: var( --font-size-smaller ) ;
	}
}

img {
	:where( & ) {
		border: none ;
		display: block ;
		margin-bottom: var( --space-block ) ;
		max-width: 100% ;
	}
}

svg {
	:where( & ) {
		display: block ;
		max-width: 100% ;
	}
}

button,
input,
select,
textarea {
	:where( & ) {
		color: inherit ;
		font-family: inherit ;
		font-size: inherit ;
		line-height: inherit ;
	}
}

button {
	:where( & ) {
		cursor: pointer ;
	}
}

label[for] {
	:where( & ) {
		cursor: pointer ;
	}
}

code {
	:where( & ) {
		background-color: var( --code-fill ) ;
		color: var( --code-text ) ;
	}
}

pre code {
	:where( & ) {
		background-color: transparent ;
		margin-bottom: var( --space-block ) ;
	}
}

// Note: the [tabindex] selector is being used to conditionally add "hard" focus.
*[tabindex="0"]:focus,
*:focus-visible,
.uiFocusForcer:focus,
.uiFocusForcer:focus-visible {
	:where( & ) {
		animation-duration: var( --duration-s ) ;
		animation-name: focus-visible-ring-enter ;
		animation-fill-mode: forwards ;
		animation-iteration-count: 1 ;
		animation-timing-function: ease-in ;
		outline: 2px solid var( --focus-ring-stroke ) ;

		&[tabindex="-1"],
		&.isLongTermFocus {
			animation-duration:
				var( --duration-s ),
				1000ms
			;
			animation-name:
				focus-visible-ring-enter,
				focus-visible-ring-disappear
			;
		}
	}
}

@keyframes focus-visible-ring-enter {
	from {
		outline-offset: 7px ;
	}
	to {
		outline-offset: 3px ;
	}
}

@keyframes focus-visible-ring-disappear {
	from {
		outline-color: var( --focus-ring-stroke ) ;
	}
	to {
		outline-color: var( --focus-ring-stroke-muted ) ; // "Fade" to background color.
	}
}

// ---
// DESIGN SYSTEM.
// ---

.uiHstack {
	:where( & ) {
		align-items: center ;
		display: flex ;
		gap: var( --space-inline ) ;
	}

	:where( & > * ) {
		flex: 0 1 auto ;
	}

	:where( &.isTopAligned ) {
		align-items: flex-start ;
	}

	:where( &.isTight ) {
		gap: var( --space-inline-xs ) ;
	}

	:where( &.isLoose ) {
		gap: var( --space-inline-xl ) ;
	}

	:where( &.isStretched ) {
		align-items: stretch ;
	}
}

.uiVstack {
	:where( & ) {
		display: flex ;
		flex-direction: column ;
		gap: var( --space-block ) ;
	}

	:where( & > * ) {
		flex: 0 1 auto ;
	}

	:where( &.isTight ) {
		gap: var( --space-block-xs ) ;
	}

	:where( &.isLoose ) {
		gap: var( --space-block-xl ) ;
	}
}

.uiEmoji {
	:where( & ) {
		font-family: var( --font-family-emoji ) ;
	}
}

.uiSubtext {
	:where( & ) {
		display: block ;
		font-size: var( --font-size-s ) ;
		margin-top: var( --space-block-xxs ) ;
	}
}

.uiUnlist {
	:where( & ) {
		list-style-type: none ;
		margin: 0 ;
		padding: 0 ;
	}

	:where( & > li ) {
		margin: 0 ;
		padding: 0 ;
	}
}

.uiReadableWidth {
	:where( & ) {
		max-width: 1000px ;
	}
}

.uiRule {
	:where( & ) {
		border: none ;
		border-top: 1px solid var( --rule-content ) ;
		margin: var( --space-block ) 0 ;
	}
}

// Borrowed from the "Inclusive Component" styles - this is for elements that need to be
// in the DOM for assistive technology, but should be hidden from sighted individuals (as
// it would be redundant with the existing visuals).
// --
// https://inclusive-components.design/tooltips-toggletips/
.uiScreenReader {
	clip: rect( 0 0 0 0 ) ;
	clip-path: inset( 100% ) ;
	height: 0 ;
	overflow: hidden ;
	position: absolute ;
	white-space: nowrap ;
	width: 0 ;
}

.uiLink {
	:where( &.isSurprise ) {
		color: inherit ;
		text-decoration: none ;

		&:hover,
		&:hover > * {
			color: var( --link-hover-text ) ;
			text-decoration: underline ;
		}
	}
}

.uiTable {
	:where( & ) {
		border: 1px solid var( --table-stroke ) ;
		width: 100% ;
	}

	> thead > tr > th,
	        > tr > th,
	> tbody > tr > td,
	> tfoot > tr > td,
	        > tr > td {
		:where( & ) {
			border: 1px solid var( --table-stroke ) ;
			padding: var( --pad-block ) var( --pad-inline ) ;
		}
	}

	> tbody > tr:hover > th,
	> tbody > tr:hover > td,
	        > tr:hover > td {
		:where( & ) {
			background-color: var( --table-fill-hover ) ;
		}
	}

	> thead > tr > th,
	        > tr > th,
	> tbody > tr > th,
	> tbody > tr > td,
	> tfoot > tr > th,
	> tfoot > tr > td,
	>         tr > td {
		:where( &.isNoWrap ) {
			text-wrap: nowrap ;
		}
	}

	// Caution: this is NOT a child of the uiTable; but, I'm using the BEM syntax to
	// illustrate that these two elements are tightly coupled. And that they can make some
	// assumptions about how they are intending to be used.
	&_scroller {
		@media screen and ( max-width: 1000px ) {
			:where( & ) {
				margin-bottom: var( --space-block-l ) ;
				max-width: 100% ;
				overflow-x: auto ;
			}

			:where( & > .uiTable ) {
				margin-bottom: 10px ;
				min-width: 1000px ;
			}
		}
	}
}

.uiTag {
	:where( & ) {
		border-radius: var( --radius ) ;
		display: inline-flex ;
		font-size: var( --font-size-s ) ;
		line-height: var( --line-height-ui ) ;
		padding: var( --pad-block-xs ) var( --pad-inline-xs ) ;
		text-align: center ;
		text-decoration: none ;
	}
}

.uiPageNav {
	margin-bottom: var( --space-block ) ;

	& > *:first-child {
		.uiScreenReader() ;
	}

	ul {
		.uiUnlist() ;

		display: flex ;
		flex-wrap: wrap ;
		gap: var( --space-inline-s ) ;
	}

	li {
		display: flex ;
		gap: var( --space-inline-s ) ;
	}

	li:not(:last-child):after {
		content: "/" ;
	}
}

.uiProperties {
	:where( & > div ) {
		margin-bottom: var( --space-block ) ;
	}

	:where( & > div > dt ) {
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-ui ) ;
		margin-bottom: var( --space-block-xs ) ;
	}

	:where( & > div > dd ) {
		margin-left: var( --space-block-l ) ;

		@media ( max-width: 600px ) {
			margin-left: 16px ;
		}
	}
}

// ---
// Form styles.
// ---

.uiButton {
	:where( & ) {
		background-color: var( --button-fill ) ;
		border: 1px solid var( --button-stroke ) ;
		border-radius: var( --radius ) ;
		color: var( --button-text ) ;
		display: block ;
		font-family: var( --font-family-control ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-ui ) ;
		padding: var( --pad-block ) var( --pad-inline-xl ) ;
		text-decoration: none ; // For use on links.
		user-select: none ;

		&:hover {
			background-color: var( --button-hover-fill ) ;
			border-color: var( --button-hover-stroke ) ;
			color: var( --button-hover-text ) ;
		}

		&:disabled,
		&.isDisabled {
			opacity: 0.5 ;
			pointer-events: none ;
		}
	}

	:where( &.isSubmit ) {
		background-color: var( --button-submit-fill ) ;
		border-color: var( --button-submit-stroke ) ;
		color: var( --button-submit-text ) ;

		&:hover {
			background-color: var( --button-submit-hover-fill ) ;
			border-color: var( --button-submit-hover-stroke ) ;
			color: var( --button-submit-hover-text ) ;
		}
	}

	:where( &.isCancel ) {
		background-color: var( --button-cancel-fill ) ;
		border-color: var( --button-cancel-stroke ) ;
		color: var( --button-cancel-text ) ;
		text-decoration: none ; // Usually an anchor link.

		&:hover {
			background-color: var( --button-cancel-hover-fill ) ;
			border-color: var( --button-cancel-hover-stroke ) ;
			color: var( --button-cancel-hover-text ) ;
		}
	}

	:where( &.isDanger ) {
		background-color: var( --button-danger-fill ) ;
		border-color: var( --button-danger-stroke ) ;
		color: var( --button-danger-text ) ;

		&:hover {
			background-color: var( --button-danger-hover-fill ) ;
			border-color: var( --button-danger-hover-stroke ) ;
			color: var( --button-danger-hover-text ) ;
		}
	}

	:where( &.isInverted ) {
		background-color: var( --button-inverted-fill ) ;
		border-color: var( --button-inverted-stroke ) ;
		color: var( --button-inverted-text ) ;

		&:hover {
			background-color: var( --button-inverted-hover-fill ) ;
			border-color: var( --button-inverted-hover-stroke ) ;
			color: var( --button-inverted-hover-text ) ;
		}
	}

	:where( &.isLink ) {
		background-color: transparent ;
		border: none ;
		border-radius: 0 ;
		color: inherit ;
		display: inline ;
		font-weight: inherit ;
		line-height: inherit ;
		padding: 0 ;
		text-decoration: underline ;
		user-select: inherit ;

		&:hover {
			background-color: transparent ;
			color: inherit ;
		}

		:where( &.isDanger ) {
			color: var( --button-danger-link-text ) ;

			&:hover {
				color: var( --button-danger-link-hover-text ) ;
			}
		}
	}

	:where( &.isNoWrap ) {
		white-space: nowrap ;
	}
}

.uiInput {
	:where( & ) {
		background-color: var( --input-fill ) ;
		border: 1px solid var( --input-stroke ) ;
		border-radius: var( --radius ) ;
		box-shadow: var( --input-inset-shadow ) ;
		color: var( --input-text ) ;
		display: block ;
		font-family: var( --font-family-control ) ;
		line-height: var( --line-height-ui ) ;
		max-width: 100% ;
		padding: var( --pad-block ) var( --pad-inline ) ;
		width: 100% ;

		&:focus {
			border-color: var( --input-focus-stroke ) ;
		}
	}

	:where( &.isSmall ) {
		max-width: 200px ;
	}

	:where( &.isMedium ) {
		max-width: 400px ;
	}

	:where( &.isLarge ) {
		max-width: 600px ;
	}
}

.uiFile {
	:where( & ) {
		cursor: pointer ;
		display: block ;
		line-height: var( --line-height-ui ) ;
		max-width: 100% ;
	}

	:where( &.isFull ) {
		width: 100% ;
	}

	:where( & )::-webkit-file-upload-button,
	:where( & )::file-selector-button {
		background-color: var( --button-fill ) ;
		border: 1px solid var( --button-stroke ) ;
		border-radius: var( --radius ) ;
		color: var( --button-text ) ;
		cursor: pointer ;
		font-family: var( --font-family-control ) ;
		margin-right: 2ch ;
		padding: var( --pad-block ) var( --pad-inline-xl ) ;
	}
}

.uiCheckbox {
	:where( & ) {
			-webkit-appearance: none ;
		appearance: none ;
		background-color: var( --input-fill ) ;
		border: 1px solid var( --input-stroke ) ;
		border-radius: var( --radius ) ;
		box-shadow: var( --input-inset-shadow ) ;
		flex-shrink: 0 ; // In case it's used in a flex layout.
		height: 20px ;
		position: relative ;
		width: 21px ;

		&:focus {
			border-color: var( --input-focus-stroke ) ;
		}
	}

	:where( &:checked )::before {
		background-color: var( --accent ) ;
		border-radius: 5px ;
		content: "" ;
		height: 16px ;
		left: 8px ;
		position: absolute ;
		top: 1px ;
		transform: rotate( 45deg ) ;
		width: 4px ;
	}
	:where( &:checked )::after {
		background-color: var( --accent ) ;
		border-radius: 5px ;
		content: "" ;
		height: 16px ;
		left: 8px ;
		position: absolute ;
		top: 1px ;
		transform: rotate( -45deg ) ;
		width: 4px ;
	}
}

.uiRadio {
	:where( & ) {
			-webkit-appearance: none ;
		appearance: none ;
		background-color: var( --input-fill ) ;
		border: 1px solid var( --input-stroke ) ;
		border-radius: 18px ;
		box-shadow: var( --input-inset-shadow ) ;
		display: flex ;
		flex-shrink: 0 ; // In case it's used in a flex layout.
		height: 20px ;
		width: 20px ;

		&:focus {
			border-color: var( --input-focus-stroke ) ;
		}
	}

	:where( &:checked )::after {
		background-color: var( --accent ) ;
		border-radius: var( --radius-round ) ;
		content: "" ;
		height: 10px ;
		margin: auto ;
		width: 10px ;
	}
}

.uiSelect {
	:where( & ) {
			-webkit-appearance: none ;
		appearance: none ;
		background-color: var( --input-fill ) ;
		background-image: var( --select-carrot-image ) ;
		background-position-x: right 10px ;
		background-position-y: top 52% ;
		background-repeat: no-repeat ;
		border: 1px solid var( --input-stroke ) ;
		border-radius: var( --radius ) ;
		color: var( --input-text ) ;
		display: block ;
		font-family: var( --font-family-control ) ;
		line-height: var( --line-height-ui ) ;
		max-width: 100% ;
		padding: var( --pad-block ) var( --pad-inline ) ;
		padding-right: 2rem ; // To make room for caret.
		width: 100% ;

		&:focus {
			border-color: var( --input-focus-stroke ) ;
		}
	}

	:where( &.isAuto ) {
		width: auto ;
	}
}

.uiTextarea {
	:where( & ) {
		background-color: var( --input-fill ) ;
		border: 1px solid var( --input-stroke ) ;
		border-radius: var( --radius ) ;
		box-shadow: var( --input-inset-shadow ) ;
		color: var( --input-text ) ;
		display: block ;
		font-family: var( --font-family-control ) ;
		line-height: var( --line-height-ui ) ;
		min-height: 10em ;
		padding: var( --pad-block ) var( --pad-inline ) ;
		width: 100% ;

		&:focus {
			border-color: var( --input-focus-stroke ) ;
		}
	}
}

.uiInput,
.uiTextarea {
	:where( & )::placeholder {
		color: var( --input-placeholder-text );
	}
}

.uiInput,
.uiTextarea,
.uiSelect {
	:where( &[aria-invalid="true"] ) {
		border-color: var( --input-error-stroke ) ;
		box-shadow: inset 0 0 0 3px var( --input-error-stroke ) ;
	}
}

.uiField {
	:where( & ) {
		margin-bottom: var( --space-block ) ;
	}

	:where( &_label ) {
		display: block ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-ui ) ;
		margin-bottom: var( --space-block-xs ) ;
	}

	:where( &_label[for]) {
		&:hover {
			text-decoration: underline ;
		}
	}

	:where( &_star ) {
		color: var( --star-text ) ;
		font-weight: var( --font-weight ) ;
	}

	:where( &_content ) {
		margin-left: var( --space-block-l ) ;

		@media ( max-width: 600px ) {
			margin-left: 16px ;
		}
	}

	// Pre-input text.
	:where( &_description ) {
		margin-bottom: var( --space-block-s ) ;
	}

	// Post-input text.
	:where( &_hint ) {
		font-size: var( --font-size-smaller ) ;
		line-height: var( --line-height-ui ) ;
		margin: var( --space-block-xs ) 0 0 0 ;
	}
}

.uiFieldset {
	:where( & ) {
		border: 1px solid var( --rule-content ) ;
		padding: var( --pad-block ) var( --pad-inline-l ) ;
	}
}

.uiLegend {
	:where( & ) {
		line-height: var( --line-height-ui ) ;
		padding: 0 var( --pad-inline ) ;
	}
}

.uiOptionCard {
	:where( & ) {
		display: grid ;
		gap: var( --space-inline ) var( --space-block ) ;
		grid-template-areas:
			"control label"
			". description"
		;
		grid-template-columns: auto 1fr ;
		margin-bottom: var( --space-block ) ;
	}

	:where( &_control ) {
		align-self: center ;
		grid-area: control ;
	}

	:where( &_label ) {
		align-self: center ;
		font-weight: var( --font-weight-bold ) ;
		grid-area: label ;
	}

	:where( &_description ) {
		grid-area: description ;
	}
}

.uiFormButtons {
	:where( & ) {
		align-items: center ;
		border-top: 1px solid var( --rule-content ) ;
		display: flex ;
		gap: var( --space-inline ) ;
		margin-top: var( --space-block-l ) ;
		padding-top: var( --space-block-l ) ;
	}

	:where( & > * ) {
		flex: 0 1 auto ;
	}
}

.uiIndicator {
	border: 4px solid var( --indicator-stroke ) ;
	border-right: 4px solid transparent ;
	border-radius: 26px ;
	display: none ;
	height: 26px ;
	width: 26px ;

	// Instant animation.
	& {
		animation-name: uiIndicator-spinning ;
		animation-duration: 500ms ;
		animation-iteration-count: infinite ;
		animation-timing-function: linear ;
	}

	// Delayed animation.
	&.isDelayed {
		animation-name:
			uiIndicator-spinning,
			uiIndicator-enter
		;
		animation-delay:
			0ms,        // spinning.
			200ms       // enter.
		;
		animation-duration:
			500ms,      // spinning.
			200ms       // enter.
		;
		animation-fill-mode:
			forwards,   // spinning.
			both        // enter.
		;
		animation-iteration-count:
			infinite,   // spinning.
			1           // enter.
		;
		animation-timing-function:
			linear,     // spinning.
			ease-out    // enter.
		;
	}

	&.htmx-request {
		display: block ;
	}
}

@keyframes uiIndicator-spinning {
	0% {
		transform: rotate( 0deg ) ;
	}
	100% {
		transform: rotate( 360deg ) ;
	}
}

@keyframes uiIndicator-enter {
	0% {
		opacity: 0 ;
	}
	100% {
		opacity: 1 ;
	}
}

// ---
// CFDUMP STYLES.
// 
// These are here for development purposes only, to make the output of the CFDump / dump()
// easier to read. For some reason, that output is hella tiny.
// ---

html body table[class^='cfdump_'] {
	border-collapse: separate ;
	border-spacing: 2px ;
	font-family: var( --font-family-control ) ;
	margin-bottom: 0 ;

	&:not(:last-child) {
		margin-bottom: var( --space-block ) ;
	}

	th,
	td {
		font-size: 1rem ;
		padding: 0.4em 0.55em ;
	}
}

// ---
// UTILITY CLASSES.
//
// Note: these are here as a last resort. I think I might use these during the exploratory
// phase. And then, when I discover a pattern, I can go back and replace them with "ui"
// components.
// ---

:where( .m0 ) {
	margin: 0 ;
}

:where( .mtxxs ) {
	margin-top: var( --space-block-xxs );
}
:where( .mtxs ) {
	margin-top: var( --space-block-xs );
}
:where( .mts ) {
	margin-top: var( --space-block-s );
}
:where( .mt ) {
	margin-top: var( --space-block  );
}
:where( .mtl ) {
	margin-top: var( --space-block-l );
}
:where( .mtxl ) {
	margin-top: var( --space-block-xl );
}

:where( .mbxxs ) {
	margin-bottom: var( --space-block-xxs );
}
:where( .mbxs ) {
	margin-bottom: var( --space-block-xs );
}
:where( .mbs ) {
	margin-bottom: var( --space-block-s );
}
:where( .mb ) {
	margin-bottom: var( --space-block  );
}
:where( .mbl ) {
	margin-bottom: var( --space-block-l );
}
:where( .mbxl ) {
	margin-bottom: var( --space-block-xl );
}

:where( .w-1 ) {
	width: 1% ;
}
:where( .w-2 ) {
	width: 2% ;
}
:where( .w-3 ) {
	width: 3% ;
}
:where( .w-4 ) {
	width: 4% ;
}
:where( .w-5 ) {
	width: 5% ;
}
:where( .w-6 ) {
	width: 6% ;
}
:where( .w-7 ) {
	width: 7% ;
}
:where( .w-8 ) {
	width: 8% ;
}
:where( .w-9 ) {
	width: 9% ;
}
:where( .w-10 ) {
	width: 10% ;
}
:where( .w-11 ) {
	width: 11% ;
}
:where( .w-12 ) {
	width: 12% ;
}
:where( .w-13 ) {
	width: 13% ;
}
:where( .w-14 ) {
	width: 14% ;
}
:where( .w-15 ) {
	width: 15% ;
}
:where( .w-16 ) {
	width: 16% ;
}
:where( .w-17 ) {
	width: 17% ;
}
:where( .w-18 ) {
	width: 18% ;
}
:where( .w-19 ) {
	width: 19% ;
}
:where( .w-20 ) {
	width: 20% ;
}
:where( .w-21 ) {
	width: 21% ;
}
:where( .w-22 ) {
	width: 22% ;
}
:where( .w-23 ) {
	width: 23% ;
}
:where( .w-24 ) {
	width: 24% ;
}
:where( .w-25 ) {
	width: 25% ;
}
:where( .w-26 ) {
	width: 26% ;
}
:where( .w-27 ) {
	width: 27% ;
}
:where( .w-28 ) {
	width: 28% ;
}
:where( .w-29 ) {
	width: 29% ;
}
:where( .w-30 ) {
	width: 30% ;
}
:where( .w-31 ) {
	width: 31% ;
}
:where( .w-32 ) {
	width: 32% ;
}
:where( .w-33 ) {
	width: 33% ;
}
:where( .w-34 ) {
	width: 34% ;
}
:where( .w-35 ) {
	width: 35% ;
}
:where( .w-36 ) {
	width: 36% ;
}
:where( .w-37 ) {
	width: 37% ;
}
:where( .w-38 ) {
	width: 38% ;
}
:where( .w-39 ) {
	width: 39% ;
}
:where( .w-40 ) {
	width: 40% ;
}
:where( .w-41 ) {
	width: 41% ;
}
:where( .w-42 ) {
	width: 42% ;
}
:where( .w-43 ) {
	width: 43% ;
}
:where( .w-44 ) {
	width: 44% ;
}
:where( .w-45 ) {
	width: 45% ;
}
:where( .w-46 ) {
	width: 46% ;
}
:where( .w-47 ) {
	width: 47% ;
}
:where( .w-48 ) {
	width: 48% ;
}
:where( .w-49 ) {
	width: 49% ;
}
:where( .w-50 ) {
	width: 50% ;
}
:where( .w-51 ) {
	width: 51% ;
}
:where( .w-52 ) {
	width: 52% ;
}
:where( .w-53 ) {
	width: 53% ;
}
:where( .w-54 ) {
	width: 54% ;
}
:where( .w-55 ) {
	width: 55% ;
}
:where( .w-56 ) {
	width: 56% ;
}
:where( .w-57 ) {
	width: 57% ;
}
:where( .w-58 ) {
	width: 58% ;
}
:where( .w-59 ) {
	width: 59% ;
}
:where( .w-60 ) {
	width: 60% ;
}
:where( .w-61 ) {
	width: 61% ;
}
:where( .w-62 ) {
	width: 62% ;
}
:where( .w-63 ) {
	width: 63% ;
}
:where( .w-64 ) {
	width: 64% ;
}
:where( .w-65 ) {
	width: 65% ;
}
:where( .w-66 ) {
	width: 66% ;
}
:where( .w-67 ) {
	width: 67% ;
}
:where( .w-68 ) {
	width: 68% ;
}
:where( .w-69 ) {
	width: 69% ;
}
:where( .w-70 ) {
	width: 70% ;
}
:where( .w-71 ) {
	width: 71% ;
}
:where( .w-72 ) {
	width: 72% ;
}
:where( .w-73 ) {
	width: 73% ;
}
:where( .w-74 ) {
	width: 74% ;
}
:where( .w-75 ) {
	width: 75% ;
}
:where( .w-76 ) {
	width: 76% ;
}
:where( .w-77 ) {
	width: 77% ;
}
:where( .w-78 ) {
	width: 78% ;
}
:where( .w-79 ) {
	width: 79% ;
}
:where( .w-80 ) {
	width: 80% ;
}
:where( .w-81 ) {
	width: 81% ;
}
:where( .w-82 ) {
	width: 82% ;
}
:where( .w-83 ) {
	width: 83% ;
}
:where( .w-84 ) {
	width: 84% ;
}
:where( .w-85 ) {
	width: 85% ;
}
:where( .w-86 ) {
	width: 86% ;
}
:where( .w-87 ) {
	width: 87% ;
}
:where( .w-88 ) {
	width: 88% ;
}
:where( .w-89 ) {
	width: 89% ;
}
:where( .w-90 ) {
	width: 90% ;
}
:where( .w-91 ) {
	width: 91% ;
}
:where( .w-92 ) {
	width: 92% ;
}
:where( .w-93 ) {
	width: 93% ;
}
:where( .w-94 ) {
	width: 94% ;
}
:where( .w-95 ) {
	width: 95% ;
}
:where( .w-96 ) {
	width: 96% ;
}
:where( .w-97 ) {
	width: 97% ;
}
:where( .w-98 ) {
	width: 98% ;
}
:where( .w-99 ) {
	width: 99% ;
}
:where( .w-100 ) {
	width: 100% ;
}
