
@import (inline) "./open-props/props.borders.css" ;
@import (inline) "./open-props/props.colors.css" ;
@import (inline) "./open-props/props.easing.css" ;
@import (inline) "./open-props/props.fonts.css" ;
@import (inline) "./open-props/props.shadows.css" ;
@import (inline) "./open-props/props.sizes.css" ;
@import (inline) "./open-props/props.zindex.css" ;

// ---
// THEME VARIABLES.
// ---

.less-theme-light() {

	// Block / vertical rhythm.
	--space-block-xs: 0.7rem ;
	--space-block-s: 1.0rem ;
	--space-block: 1.4rem ;
	--space-block-l: 2.1rem ;
	--space-block-xl: 2.8rem ;

	// Inline / horizontal rhythm.
	--space-inline-xs: 0.4rem ;
	--space-inline-s: 0.6rem ;
	--space-inline: 0.8rem ;
	--space-inline-l: 1.2rem ;
	--space-inline-xl: 1.6rem ;

	// Block internal comfort.
	--pad-block-xs: 0.35rem ;
	--pad-block-s: 0.525rem ;
	--pad-block: 0.7rem ;
	--pad-block-l: 1.05rem ;
	--pad-block-xl: 1.4rem ;

	// Inline internal comfort.
	--pad-inline-xs: 0.45rem ;
	--pad-inline-s: 0.675rem ;
	--pad-inline: 0.9rem ;
	--pad-inline-l: 1.35rem ;
	--pad-inline-xl: 1.8rem ;

	// Font sizes.
	--font-size-xs: 0.64rem ;
	--font-size-s: 0.8rem ;
	--font-size: 18px ;
	--font-size-l: 1.25rem ;
	--font-size-xl: 1.56rem ;
	--font-size-xxl: 1.95rem ;
	--font-size-xxxl: 2.4357rem ;
	--font-size-smaller: 90% ;

	// Font weights.
	--font-weight-xlight: 100;
	--font-weight-light: 300;
	--font-weight: 400 ;
	--font-weight-bold: 700 ;
	--font-weight-xbold: 800 ;

	// Font families.
	--font-family-body: var( --font-geometric-humanist ) ;
	--font-family-heading: var( --font-geometric-humanist ) ;
	--font-family-control: var( --font-geometric-humanist ) ;
	--font-family-mono: var( --font-monospace-slab-serif );
	--font-family-emoji: verdana, arial, sans-serif ;

	// Line heights.
	--line-height-body: 1.5 ;
	--line-height-heading: 1.3 ;
	--line-height-ui: 1.4 ;

	// Base body.
	--text: var( --stone-11 ) ;
	--text-muted: var( --stone-7 ) ;
	--fill: #ffffff ;

	// Base / auxiliary buttons.
	--button-text: var( --gray-9 ) ;
	--button-fill: var( --gray-1 ) ;
	--button-stroke: var( --gray-7 ) ;
	--button-hover-text: var( --gray-11 ) ;
	--button-hover-fill: var( --gray-3 ) ;
	--button-hover-stroke: var( --gray-9 ) ;

	// Submit buttons.
	--button-submit-text: #ffffff ;
	--button-submit-fill: var( --indigo-7 ) ;
	--button-submit-stroke: var( --indigo-9 ) ;
	--button-submit-hover-text: #ffffff ;
	--button-submit-hover-fill: var( --indigo-9 ) ;
	--button-submit-hover-stroke: var( --indigo-11 ) ;

	// Cancel buttons.
	--button-cancel-text: var( --stone-9 ) ;
	--button-cancel-fill: transparent ;
	--button-cancel-stroke: var( --stone-4 ) ;
	--button-cancel-hover-text: var( --stone-9 ) ;
	--button-cancel-hover-fill: transparent ;
	--button-cancel-hover-stroke: var( --stone-9 ) ;

	// Destructive buttons.
	--button-danger-text: #ffffff ;
	--button-danger-fill: var( --red-7 ) ;
	--button-danger-stroke: var( --red-9 ) ;
	--button-danger-hover-text: #ffffff ;
	--button-danger-hover-fill: var( --red-9 ) ;
	--button-danger-hover-stroke: var( --red-11 ) ;

	// Form inputs.
	--input-text: #0d0f12 ;
	--input-fill: #ffffff ;
	--input-stroke: #16191d ;
	--input-error-stroke: #c92a2a ;
	--input-inset-shadow: inset 1px 1px 2px #dadada ;

	// Links.
	--link-text: var( --indigo-7 ) ;
	--link-hover-text: var( --indigo-9 ) ;

	// Accent / focus.
	--accent: var( --pink-6 ) ;

	// Borer radius.
	--radius-xs: 0 ;
	--radius-s: 2px ;
	--radius: 4px ;
	--radius-l: 6px ;
	--radius-xl: 8px ;
	--radius-round: 999999px ;






	--mark-text: #121210 ;
	--mark-fill: #ffe066 ;

	--error-fill: var( --red-1 ) ;
	--error-stoke: var( --red-9 ) ;
	--error-text: var( --red-10 ) ;

	--success-fill: var( --lime-0 ) ;
	--success-stroke: var( --lime-9 ) ;
	--success-text: var( --lime-10 ) ;

	--code-fill: #f1f3f5 ;
	--code-text: #0d0f12 ;

	--img-shadow: #e0e4e5 ;

	--panel-stroke: #b1b6b9 ;

	--rule-hard: #999999 ;
	--rule-soft: #cccccc ;

	--nav-text: var( --text ) ;
	--nav-fill: var( --fill ) ;
	--nav-text-on: var( --text ) ;
	--nav-fill-on: #e0e0e0 ;

	--star-text: #9c0099 ;

	// Note: I have to escape this URL using ~"{code}" or Parcel breaks 90% of the time.
	// There appears to be a race condition with Parcel > Less > Url().
	--select-carrot-image: ~"url( 'data:image/svg+xml;utf8,%3Csvg%20width=%2213%22%20height=%227%22%20viewBox=%220%200%2013%207%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpolygon%20stroke=%22none%22%20fill=%22%25230d0f12%22%20fill-rule=%22evenodd%22%20points=%220%200%206.5%207%2013%200%22%3E%3C/polygon%3E%3C/svg%3E' )" ;

}

.less-theme-dark() {
	/*
	--text: #93b8dc ;
	--fill: #0d1117 ;

	--accent: #e64980 ;

	--mark-text: #121210 ;
	--mark-fill: #ffe066 ;

	--error-fill: #441010 ;
	--error-stoke: #8b2424 ;
	--error-text: #f98484 ;

	--success-fill: #2f4407 ;
	--success-stroke: #749a42 ;
	--success-text: #d7fe92 ;

	--code-fill: #011e3b ;
	--code-text: #3780EF ;

	--control-fill: #0d1117 ;
	--control-stroke: #253b56 ;
	--control-stroke-error: #8b2424 ;
	--control-text: #979562 ;
	--control-inset-shadow: inset 1px 1px 2px #dadada22 ;

	--button-tertiary-text: #0d0f12 ;
	--button-tertiary-fill: #f1f3f5 ;
	--button-tertiary-stroke: #7e8282 ;

	--button-primary-text: #f2f4f6 ;
	--button-primary-fill: #004396 ;
	--button-primary-stroke: #0052b8 ;

	--button-danger-text: #fff5f5 ;
	--button-danger-fill: #b21a1a ;
	--button-danger-stroke: #e03131 ;

	--button-secondary-text: #93b8dc ;
	--button-secondary-fill: transparent ;
	--button-secondary-stroke: #383838 ;
	--button-secondary-stroke-hover: #93b8dc ;

	--img-shadow: #e0e4e5 ;

	--panel-stroke: #37414d ;

	--rule-hard: #999999 ;
	--rule-soft: #37414d ;

	--nav-text: var( --text ) ;
	--nav-fill: var( --fill ) ;
	--nav-text-on: var( --text ) ;
	--nav-fill-on: #472240 ;

	// Note: I have to escape this URL using ~"{code}" or Parcel breaks 90% of the time.
	// There appears to be a race condition with Parcel > Less > Url().
	--select-carrot-image: ~"url( 'data:image/svg+xml;utf8,%3Csvg%20width=%2213%22%20height=%227%22%20viewBox=%220%200%2013%207%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpolygon%20stroke=%22none%22%20fill=%22%2523979562%22%20fill-rule=%22evenodd%22%20points=%220%200%206.5%207%2013%200%22%3E%3C/polygon%3E%3C/svg%3E' )" ;

	:where( img ) {
		opacity: 0.5 ;
		transition: opacity 500ms ease-in ;
	}
	:where( img:hover ) {
		opacity: 1.0 ;
	}
	*/
}

html {
	:where( & ) {
		.less-theme-light() ;
	}

	:where( &[data-theme="dark"] ) {
		.less-theme-dark() ;
	}

	@media ( prefers-color-scheme: dark ) {
		:where( & ) {
			.less-theme-dark() ;
		}
	}
}

// ---
// CSS RESET.
// ---

* {
	margin: 0 ;
	padding: 0 ;
}

html {
	:where( & ) {
		background-color: var( --fill ) ;
		box-sizing: border-box ;
		color: var( --text ) ;
		font-family: var( --font-family-body ) ;
		font-size: var( --font-size ) ;
		font-weight: var( --font-weight ) ;
		line-height: var( --line-height-body ) ;
	}

	*,
	*:before,
	*:after {
		box-sizing: inherit ;
	}
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	:where( & ) {
		display: block ;
	}
}

h1, .h1 {
	:where( & ) {
		font-family: var( --font-family-heading ) ;
		font-size: var( --font-size-xxxl ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-heading ) ;
	}
}

h2, .h2 {
	:where( & ) {
		font-family: var( --font-family-heading ) ;
		font-size: var( --font-size-xxl ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-heading ) ;
	}
}

h3, .h3 {
	:where( & ) {
		font-family: var( --font-family-heading ) ;
		font-size: var( --font-size-xl ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-heading ) ;
	}
}

h4, .h4 {
	:where( & ) {
		font-family: var( --font-family-heading ) ;
		font-size: var( --font-size-l ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-heading ) ;
	}
}

h5, .h5,
h6, .h6 {
	:where( & ) {
		font-family: var( --font-family-heading ) ;
		font-size: var( --font-size ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-heading ) ;
	}
}

table {
	:where( & ) {
		border-collapse: collapse ;
		border-spacing: 0 ;
	}
}

th,
td {
	:where( & ) {
		color: inherit ;
		font-family: inherit ;
		font-size: inherit ;
		padding: var( --pad-block ) var( --pad-inline ) ;
		text-align: left ;
	}
}

th {
	:where( & ) {
		font-weight: var( --font-weight-bold ) ;
	}
}

dt {
	:where( & ) {
		font-weight: var( --font-weight-bold ) ;
	}
}

ul,
ol {
	:where( & ) {
		list-style-type: none ;
	}
}

a {
	:where( & ) {
		color: var( --link-text ) ;
		cursor: pointer ;
		text-decoration: underline ;

		&:hover {
			color: var( --link-hover-text ) ;
		}
	}
}

mark {
	:where( & ) {
		background-color: var( --mark-fill ) ;
		color: var( --mark-text ) ;
	}
}

strong {
	font-weight: var( --font-weight-bold ) ;
}

small {
	:where( & ) {
		font-size: var( --font-size-smaller ) ;
	}
}

img {
	:where( & ) {
		border: none ;
		display: block ;
		max-width: 100% ;
	}
}

svg {
	:where( & ) {
		display: block ;
		max-width: 100% ;
	}
}

button,
input,
select,
textarea {
	:where( & ) {
		color: inherit ;
		font-family: inherit ;
		font-size: inherit ;
		line-height: inherit ;
	}
}

button {
	:where( & ) {
		cursor: pointer ;
	}
}

label[for] {
	:where( & ) {
		cursor: pointer ;
	}
}

code {
	:where( & ) {
		background-color: var( --code-fill ) ;
		color: var( --code-text ) ;
	}
}

pre code {
	:where( & ) {
		background-color: transparent ;
	}
}

// Note: the [tabindex] selector is being used to conditionally add "hard" focus.
*[tabindex="0"]:focus,
*:focus-visible {
	:where( & ) {
		outline: 2px solid var( --accent ) ;
		outline-offset: 2px ;
	}
}

// ---
// CONTENT RE-RESET.
// ---

// This block is here to reintroduce margins for text-oriented flows. This might be swaths
// of the page that are simply more text-oriented; or, it might be for user-generated
// content to which we can't add CSS classes.
:where( .uiFlow ) {
	// Block elements.
	article,
	aside,
	blockquote,
	dd,
	dl,
	dt,
	fieldset,
	figcaption,
	figure,
	footer,
	form,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	header,
	hr,
	legend,
	main,
	nav,
	ol,
	p,
	pre,
	section,
	svg,
	table,
	ul,
	video
	{
		margin-bottom: var( --space-block ) ;
	}

	blockquote,
	pre,
	td,
	th {
		> *:last-child {
			margin-bottom: 0 ;
		}
	}

	li {
		margin-bottom: var( --space-block-xs ) ;
	}

	ul,
	ol {
		padding-left: 2.5rem ;
	}

	ol {
		list-style-type: decimal ;
	}

	ul {
		list-style-type: disc ;
	}

	blockquote {
		margin-left: var( --space-block-xl ) ;
		margin-right: var( --space-block-xl ) ;
	}
}

// ---
// DESIGN SYSTEM.
// ---

.uiHstack {
	:where( & ) {
		align-items: center ;
		display: flex ;
		gap: var( --space-inline ) ;
	}

	:where( & > * ) {
		flex: 0 1 auto ;
	}

	:where( &.isTopAligned ) {
		align-items: flex-start ;
	}

	:where( &.isDense ) {
		gap: var( --space-inline-xs ) ;
	}

	:where( &.isSparse ) {
		gap: var( --space-inline-xl ) ;
	}

	:where( &.isStretched ) {
		align-items: stretch ;
	}
}

.uiVstack {
	:where( & ) {
		display: flex ;
		flex-direction: column ;
		gap: var( --space-block ) ;
	}

	:where( & > * ) {
		flex: 0 1 auto ;
	}

	:where( &.isDense ) {
		gap: var( --space-block-xs ) ;
	}

	:where( &.isSparse ) {
		gap: var( --space-block-xl ) ;
	}
}

.uiEmoji {
	:where( & ) {
		font-family: var( --font-family-emoji ) ;
	}
}

.uiUnlist {
	:where( & ) {
		list-style-type: none ;
		margin-left: 0 ;
		padding: 0 ;
	}

	:where( & > li ) {
		padding: 0 ;
	}
}

.uiReadableWidth {
	:where( & ) {
		max-width: 1000px ;
	}
}

.uiRule {
	:where( & ) {
		border: none ;
		border-top: 1px solid var( --rule-hard ) ;
		margin: var( --space-l ) 0 ;
	}

	:where( &.is-soft ) {
		border-top: 1px dashed var( --rule-soft ) ;
	}
}

// Borrowed from the "Inclusive Component" styles - this is for elements that need to be
// in the DOM for assistive technology, but should be hidden from sighted individuals (as
// it would be redundant with the existing visuals).
// --
// https://inclusive-components.design/tooltips-toggletips/
.uiScreenReader {
	clip: rect( 0 0 0 0 ) ;
	clip-path: inset( 100% ) ;
	height: 0 ;
	overflow: hidden ;
	position: absolute ;
	white-space: nowrap ;
	width: 0 ;
}

// ---
// Form styles.
// ---

.uiButton {
	:where( & ) {
		background-color: var( --button-fill ) ;
		border: 1px solid var( --button-stroke ) ;
		border-radius: var( --radius ) ;
		color: var( --button-text ) ;
		display: block ;
		font-family: var( --font-family-control ) ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-ui ) ;
		padding: var( --pad-block ) var( --pad-inline-xl ) ;
		user-select: none ;

		&:hover {
			background-color: var( --button-hover-fill ) ;
			border-color: var( --button-hover-stroke ) ;
			color: var( --button-hover-text ) ;
		}

		&:disabled {
			opacity: 0.5 ;
			pointer-events: none ;
		}
	}

	:where( &.isSubmit ) {
		background-color: var( --button-submit-fill ) ;
		border-color: var( --button-submit-stroke ) ;
		color: var( --button-submit-text ) ;

		&:hover {
			background-color: var( --button-submit-hover-fill ) ;
			border-color: var( --button-submit-hover-stroke ) ;
			color: var( --button-submit-hover-text ) ;
		}
	}

	:where( &.isCancel ) {
		background-color: var( --button-cancel-fill ) ;
		border-color: var( --button-cancel-stroke ) ;
		color: var( --button-cancel-text ) ;
		text-decoration: none ; // Usually an anchor link.

		&:hover {
			background-color: var( --button-cancel-hover-fill ) ;
			border-color: var( --button-cancel-hover-stroke ) ;
			color: var( --button-cancel-hover-text ) ;
		}
	}

	:where( &.isDanger ) {
		background-color: var( --button-danger-fill ) ;
		border-color: var( --button-danger-stroke ) ;
		color: var( --button-danger-text ) ;

		&:hover {
			background-color: var( --button-danger-hover-fill ) ;
			border-color: var( --button-danger-hover-stroke ) ;
			color: var( --button-danger-hover-text ) ;
		}
	}

	:where( &.isText ) {
		background-color: transparent ;
		border: none ;
		border-radius: 0 ;
		color: inherit ;
		display: inline ;
		padding: 0 ;
		text-decoration: underline ;

		&:hover {
			background-color: transparent ;
			color: inherit ;
		}
	}
}

.uiInput {
	:where( & ) {
		background-color: var( --input-fill ) ;
		border: 1px solid var( --input-stroke ) ;
		border-radius: var( --radius ) ;
		box-shadow: var( --input-inset-shadow ) ;
		color: var( --input-text ) ;
		display: block ;
		font-family: var( --font-family-control ) ;
		line-height: var( --line-height-ui ) ;
		max-width: 100% ;
		padding: var( --pad-block ) var( --pad-inline ) ;
		width: 100% ;
	}

	:where( &.isSmall ) {
		max-width: 200px ;
	}

	:where( &.isMedium ) {
		max-width: 400px ;
	}

	:where( &.isLarge ) {
		max-width: 600px ;
	}
}

.uiFile {
	:where( & ) {
		cursor: pointer ;
		display: block ;
		line-height: var( --line-height-ui ) ;
		max-width: 100% ;
	}

	:where( &.isFull ) {
		width: 100% ;
	}

	:where( & )::-webkit-file-upload-button,
	:where( & )::file-selector-button {
		background-color: var( --button-fill ) ;
		border: 1px solid var( --button-stroke ) ;
		border-radius: var( --radius ) ;
		color: var( --button-text ) ;
		cursor: pointer ;
		font-family: var( --font-family-control ) ;
		margin-right: 2ch ;
		padding: 0.4rem 0.9rem ; // TODO: padding vars.
	}
}

.uiCheckbox {
	:where( & ) {
		-webkit-appearance: none ;
		appearance: none ;
		background-color: var( --input-fill ) ;
		border: 1px solid var( --input-stroke ) ;
		border-radius: var( --radius ) ;
		box-shadow: var( --input-inset-shadow ) ;
		display: flex ;
		height: 18px ;
		width: 18px ;
	}

	:where( &:checked )::after {
		background-color: var( --accent ) ;
		border-radius: 3px ;
		content: "" ;
		height: 12px ;
		margin: auto ;
		width: 12px ;
	}
}

.uiRadio {
	:where( & ) {
			-webkit-appearance: none ;
		appearance: none ;
		background-color: var( --input-fill ) ;
		border: 1px solid var( --input-stroke ) ;
		border-radius: 18px ;
		box-shadow: var( --input-inset-shadow ) ;
		display: flex ;
		height: 18px ;
		width: 18px ;
	}

	:where( &:checked )::after {
		background-color: var( --accent ) ;
		border-radius: 8px ;
		content: "" ;
		height: 8px ;
		margin: auto ;
		width: 8px ;
	}
}

.uiSelect {
	:where( & ) {
			-webkit-appearance: none ;
		appearance: none ;
		background-color: var( --input-fill ) ;
		background-image: var( --select-carrot-image ) ;
		background-position-x: right 10px ;
		background-position-y: top 52% ;
		background-repeat: no-repeat ;
		border: 1px solid var( --input-stroke ) ;
		border-radius: var( --radius ) ;
		color: var( --input-text ) ;
		display: block ;
		font-family: var( --font-family-control ) ;
		line-height: var( --line-height-ui ) ;
		max-width: 100% ;
		padding: var( --pad-block ) var( --pad-inline ) ;
		padding-right: 2rem ; // To make room for caret.
		width: 100% ;
	}

	:where( &.isCompact ) {
		width: auto ;
	}
}

.uiTextarea {
	:where( & ) {
		background-color: var( --input-fill ) ;
		border: 1px solid var( --input-stroke ) ;
		border-radius: var( --radius ) ;
		box-shadow: var( --input-inset-shadow ) ;
		color: var( --input-text ) ;
		display: block ;
		font-family: var( --font-family-control ) ;
		height: 10rem ;
		line-height: var( --line-height-ui ) ;
		padding: var( --pad-block ) var( --pad-inline ) ;
		width: 100% ;
	}
}

.uiInput,
.uiTextarea,
.uiSelect {
	:where( &[aria-invalid="true"] ) {
		border-color: var( --input-error-stroke ) ;
		box-shadow: inset 0 0 0 3px var( --input-error-stroke ) ;
	}
}

.uiField {
	:where( & ) {
		margin-bottom: var( --space-block ) ;
	}

	:where( &_label ) {
		display: block ;
		font-weight: var( --font-weight-bold ) ;
		line-height: var( --line-height-ui ) ;
		margin-bottom: var( --space-block-xs ) ;
	}

	:where( &_label[for]) {
		&:hover {
			text-decoration: underline ;
		}
	}

	:where( &_star ) {
		color: var( --star-text ) ;
		font-weight: var( --font-weight ) ;
	}

	:where( &_content ) {
		margin-left: var( --space-block-l ) ;

		@media ( max-width: 600px ) {
			margin-left: 16px ;
		}
	}

	:where( &_needsAttention ) {
		align-items: center ;
		background-color: var( --error-fill ) ;
		border: 1px solid var( --error-stoke ) ;
		border-radius: 2px ;
		color: var( --error-text ) ;
		display: flex ;
		gap: 15px ;
		padding: var( --pad-block-s ) var( --pad-inline ) ;

		svg {
			color: var( --error-stoke ) ;
			height: 24px ;
			width: 24px ;
		}
	}
}

.uiFieldset {
	:where( & ) {
		border: 1px solid var( --rule-soft ) ;
		padding: var( --pad-block ) var( --pad-inline-l ) ;
	}
}

.uiHint {
	:where( & ) {
		font-size: var( --font-size-smaller ) ;
		line-height: var( --line-height-ui ) ;
	}
}

.uiLegend {
	:where( & ) {
		line-height: var( --line-height-ui ) ;
		padding: 0 var( --pad-inline ) ;
	}
}

.uiOptionCard {
	:where( & ) {
		display: grid ;
		gap: var( --space-inline ) var( --space-block ) ;
		grid-template-areas:
			"control label"
			". description"
		;
		grid-template-columns: auto 1fr ;
		margin-bottom: var( --space-block ) ;
	}

	:where( &_control ) {
		align-self: center ;
		grid-area: control ;
	}

	:where( &_label ) {
		align-self: center ;
		font-weight: var( --font-weight-bold ) ;
		grid-area: label ;
	}

	:where( &_description ) {
		grid-area: description ;
	}
}

.uiFormButtons {
	:where( & ) {
		align-items: center ;
		border-top: 1px solid var( --rule-soft ) ;
		display: flex ;
		gap: var( --space-inline ) ;
		margin-top: var( --space-block-l ) ;
		padding-top: var( --space-block-l ) ;
	}

	:where( & > * ) {
		flex: 0 1 auto ;
	}
}
