
@import (inline) "./open-props/props.borders.css" ;
@import (inline) "./open-props/props.colors.css" ;
@import (inline) "./open-props/props.easing.css" ;
@import (inline) "./open-props/props.fonts.css" ;
@import (inline) "./open-props/props.shadows.css" ;
@import (inline) "./open-props/props.sizes.css" ;
@import (inline) "./open-props/props.zindex.css" ;

// ---
// THEME VARIABLES.
// ---

.less-theme-light() {

	--text: #121210 ;
	--fill: #ffffff ;

	--font: var( --font-geometric-humanist ) ;
	--control-font: var( --font-geometric-humanist ) ;
	--emoji-font: verdana, arial, sans-serif ;

	--accent: #e64980 ;

	--mark-text: #121210 ;
	--mark-fill: #ffe066 ;

	--error-fill: var( --red-1 ) ;
	--error-stoke: var( --red-9 ) ;
	--error-text: var( --red-10 ) ;

	--success-fill: var( --lime-0 ) ;
	--success-stroke: var( --lime-9 ) ;
	--success-text: var( --lime-10 ) ;

	--code-fill: #f1f3f5 ;
	--code-text: #0d0f12 ;

	--control-fill: #ffffff ;
	--control-stroke: #16191d ;
	--control-stroke-error: #c92a2a ;
	--control-text: #0d0f12 ;
	--control-inset-shadow: inset 1px 1px 2px #dadada ;

	// Submit buttons.
	--button-primary-text: #f2f4f6 ;
	--button-primary-fill: #252521 ;
	--button-primary-stroke: #121210 ;

	// Cancel buttons.
	--button-secondary-text: #121210 ;
	--button-secondary-fill: transparent ;
	--button-secondary-stroke: #d1d6d8 ;
	--button-secondary-stroke-hover: #121210 ;

	// Other buttons.
	--button-tertiary-text: #0d0f12 ;
	--button-tertiary-fill: #f1f3f5 ;
	--button-tertiary-stroke: #7e8282 ;

	// Destructive buttons.
	--button-danger-text: #fff5f5 ;
	--button-danger-fill: #f03e3e ;
	--button-danger-stroke: #e03131 ;

	--img-shadow: #e0e4e5 ;

	--panel-stroke: #b1b6b9 ;

	--rule-hard: #999999 ;
	--rule-soft: #cccccc ;

	--nav-text: var( --text ) ;
	--nav-fill: var( --fill ) ;
	--nav-text-on: var( --text ) ;
	--nav-fill-on: #e0e0e0 ;

	--star-text: #9c0099 ;

	// Note: I have to escape this URL using ~"{code}" or Parcel breaks 90% of the time.
	// There appears to be a race condition with Parcel > Less > Url().
	--select-carrot-image: ~"url( 'data:image/svg+xml;utf8,%3Csvg%20width=%2213%22%20height=%227%22%20viewBox=%220%200%2013%207%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpolygon%20stroke=%22none%22%20fill=%22%25230d0f12%22%20fill-rule=%22evenodd%22%20points=%220%200%206.5%207%2013%200%22%3E%3C/polygon%3E%3C/svg%3E' )" ;

}

.less-theme-dark() {

	--text: #93b8dc ;
	--fill: #0d1117 ;

	--accent: #e64980 ;

	--mark-text: #121210 ;
	--mark-fill: #ffe066 ;

	--error-fill: #441010 ;
	--error-stoke: #8b2424 ;
	--error-text: #f98484 ;

	--success-fill: #2f4407 ;
	--success-stroke: #749a42 ;
	--success-text: #d7fe92 ;

	--code-fill: #011e3b ;
	--code-text: #3780EF ;

	--control-fill: #0d1117 ;
	--control-stroke: #253b56 ;
	--control-stroke-error: #8b2424 ;
	--control-text: #979562 ;
	--control-inset-shadow: inset 1px 1px 2px #dadada22 ;

	--button-tertiary-text: #0d0f12 ;
	--button-tertiary-fill: #f1f3f5 ;
	--button-tertiary-stroke: #7e8282 ;

	--button-primary-text: #f2f4f6 ;
	--button-primary-fill: #004396 ;
	--button-primary-stroke: #0052b8 ;

	--button-danger-text: #fff5f5 ;
	--button-danger-fill: #b21a1a ;
	--button-danger-stroke: #e03131 ;

	--button-secondary-text: #93b8dc ;
	--button-secondary-fill: transparent ;
	--button-secondary-stroke: #383838 ;
	--button-secondary-stroke-hover: #93b8dc ;

	--img-shadow: #e0e4e5 ;

	--panel-stroke: #37414d ;

	--rule-hard: #999999 ;
	--rule-soft: #37414d ;

	--nav-text: var( --text ) ;
	--nav-fill: var( --fill ) ;
	--nav-text-on: var( --text ) ;
	--nav-fill-on: #472240 ;

	// Note: I have to escape this URL using ~"{code}" or Parcel breaks 90% of the time.
	// There appears to be a race condition with Parcel > Less > Url().
	--select-carrot-image: ~"url( 'data:image/svg+xml;utf8,%3Csvg%20width=%2213%22%20height=%227%22%20viewBox=%220%200%2013%207%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpolygon%20stroke=%22none%22%20fill=%22%2523979562%22%20fill-rule=%22evenodd%22%20points=%220%200%206.5%207%2013%200%22%3E%3C/polygon%3E%3C/svg%3E' )" ;

	:where( img ) {
		opacity: 0.5 ;
		transition: opacity 500ms ease-in ;
	}
	:where( img:hover ) {
		opacity: 1.0 ;
	}
}

html {
	:where( & ) {
		.less-theme-light() ;
	}

	:where( &[data-theme="dark"] ) {
		.less-theme-dark() ;
	}

	@media ( prefers-color-scheme: dark ) {
		:where( & ) {
			.less-theme-dark() ;
		}
	}
}

// ---
// CSS RESET.
// ---

* {
	margin: 0 ;
	padding: 0 ;
}

html {
	:where( & ) {
		background-color: var( --fill ) ;
		box-sizing: border-box ;
		color: var( --text ) ;
		font-family: var( --font ) ;
		font-size: 18px ;
		font-weight: 400 ;
		line-height: 1.5 ;
	}

	*,
	*:before,
	*:after {
		box-sizing: inherit ;
	}
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	:where( & ) {
		display: block ;
	}
}

h1, .h1 {
	:where( & ) {
		font-size: 2rem ;
	}
}

h2, .h2 {
	:where( & ) {
		font-size: 1.6rem ;
	}
}

h3, .h3 {
	:where( & ) {
		font-size: 1.3rem ;
	}
}

h4, .h4 {
	:where( & ) {
		font-size: 1.1rem ;
	}
}

h5, .h5,
h6, .h6 {
	:where( & ) {
		font-size: 1rem ;
	}
}

table {
	:where( & ) {
		border-collapse: collapse ;
		border-spacing: 0 ;
	}
}

th,
td {
	:where( & ) {
		color: inherit ;
		font-family: inherit ;
		font-size: inherit ;
		padding: 0.5rem 1rem ;
		text-align: left ;
	}
}

th {
	:where( & ) {
		font-weight: bold ;
	}
}

dt {
	:where( & ) {
		font-weight: bold ;
	}
}

ul,
ol {
	:where( & ) {
		list-style-type: none ;
	}
}

a {
	:where( & ) {
		color: inherit ;
		cursor: pointer ;
		text-decoration: underline ;
	}
}

mark {
	:where( & ) {
		background-color: var( --mark-fill ) ;
		color: var( --mark-text ) ;
	}
}

img {
	:where( & ) {
		border: none ;
		display: block ;
		max-width: 100% ;
	}
}

svg {
	:where( & ) {
		display: block ;
		max-width: 100% ;
	}
}

button,
input,
select,
textarea {
	:where( & ) {
		color: inherit ;
		font-family: inherit ;
		font-size: inherit ;
		line-height: inherit ;
	}
}

button {
	:where( & ) {
		cursor: pointer ;
	}
}

label[for] {
	:where( & ) {
		cursor: pointer ;
	}
}

code {
	:where( & ) {
		background-color: var( --code-fill ) ;
		color: var( --code-text ) ;
	}
}

pre code {
	:where( & ) {
		background-color: transparent ;
	}
}

// Note: the [tabindex] selector is being used to conditionally add "hard" focus.
*[tabindex="0"]:focus,
*:focus-visible {
	:where( & ) {
		outline: 2px solid var( --accent ) ;
		outline-offset: 2px ;
	}
}

// ---
// CONTENT RE-RESET.
// ---

// This block is here to reintroduce margins for text-oriented flows. This might be swaths
// of the page that are simply more text-oriented; or, it might be for user-generated
// content to which we can't add CSS classes.
:where( .uiFlow ) {
	// Block elements.
	article,
	aside,
	blockquote,
	dd,
	dl,
	dt,
	fieldset,
	figcaption,
	figure,
	footer,
	form,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	header,
	hr,
	legend,
	main,
	nav,
	ol,
	p,
	pre,
	section,
	svg,
	table,
	ul,
	video
	{
		margin-bottom: 1.4rem ;
	}

	blockquote,
	pre,
	td,
	th {
		> *:last-child {
			margin-bottom: 0 ;
		}
	}

	li {
		margin-bottom: 0.2rem ;
	}

	ul,
	ol {
		padding-left: 2.5rem ;
	}

	ol {
		list-style-type: decimal ;
	}

	ul {
		list-style-type: disc ;
	}

	blockquote {
		margin-left: 2.5rem ;
		margin-right: 2.5rem ;
	}
}

// ---
// DESIGN SYSTEM.
// ---

.uiHstack {
	:where( & ) {
		align-items: center ;
		display: flex ;
		gap: 0.8rem ;
	}

	:where( & > * ) {
		flex: 0 1 auto ;
	}

	:where( &.isTopAligned ) {
		align-items: flex-start ;
	}

	:where( &.isDense ) {
		gap: 0.6rem ;
	}

	:where( &.isSparse ) {
		gap: 1.2rem ;
	}

	:where( &.isStretched ) {
		align-items: stretch ;
	}
}

.uiVstack {
	:where( & ) {
		display: flex ;
		flex-direction: column ;
		gap: 0.8rem ;
	}

	:where( & > * ) {
		flex: 0 1 auto ;
	}

	:where( &.isDense ) {
		gap: 0.6rem ;
	}

	:where( &.isSparse ) {
		gap: 1.2rem ;
	}
}

.uiEmoji {
	:where( & ) {
		font-family: var( --emoji-font ) ;
	}
}

.uiUnlist {
	:where( & ) {
		list-style-type: none ;
		margin-left: 0 ;
		padding: 0 ;
	}

	:where( & > li ) {
		padding: 0 ;
	}
}

.uiReadableWidth {
	:where( & ) {
		max-width: 1000px ;
	}
}

.uiRule {
	:where( & ) {
		border: none ;
		border-top: 1px solid var( --rule-hard ) ;
		margin: 1.9rem 0 1.8rem ;
	}

	:where( &.is-soft ) {
		border-top: 1px dashed var( --rule-soft ) ;
	}
}

// Borrowed from the "Inclusive Component" styles - this is for elements that need to be
// in the DOM for assistive technology, but should be hidden from sighted individuals (as
// it would be redundant with the existing visuals).
// --
// https://inclusive-components.design/tooltips-toggletips/
.uiScreenReader {
	clip: rect( 0 0 0 0 ) ;
	clip-path: inset( 100% ) ;
	height: 0 ;
	overflow: hidden ;
	position: absolute ;
	white-space: nowrap ;
	width: 0 ;
}

// ---
// Form styles.
// ---

.uiButton {
	:where( & ) {
		background-color: var( --button-tertiary-fill ) ;
		border: 1px solid var( --button-tertiary-stroke ) ;
		border-radius: 2px ;
		color: var( --button-tertiary-text ) ;
		display: block ;
		padding: 0.6rem 1.7rem 0.6rem ;
	}

	:where( &.isPrimary ) {
		background-color: var( --button-primary-fill ) ;
		border-color: var( --button-primary-stroke ) ;
		color: var( --button-primary-text ) ;
	}

	:where( &.isSecondary ) {
		background-color: var( --button-secondary-fill ) ;
		border-color: var( --button-secondary-stroke ) ;
		color: var( --button-secondary-text ) ;

		&:hover {
			border-color: var( --button-secondary-stroke-hover ) ;
		}
	}

	:where( &.isDanger ) {
		background-color: var( --button-danger-fill ) ;
		border-color: var( --button-danger-stroke ) ;
		color: var( --button-danger-text ) ;
	}

	:where( &.isText ) {
		background-color: transparent ;
		border: none ;
		border-radius: 0 ;
		color: inherit ;
		display: inline ;
		padding: 0 ;
		text-decoration: underline ;
	}
}

.uiInput {
	:where( & ) {
		background-color: var( --control-fill ) ;
		border: 1px solid var( --control-stroke ) ;
		border-radius: 2px ;
		box-shadow: var( --control-inset-shadow ) ;
		color: var( --control-text ) ;
		display: block ;
		max-width: 100% ;
		padding: 0.6rem 0.7rem 0.6rem ;
		width: 100% ;
	}

	:where( &.isSmall ) {
		max-width: 200px ;
	}

	:where( &.isMedium ) {
		max-width: 400px ;
	}

	:where( &.isLarge ) {
		max-width: 600px ;
	}
}

.uiFile {
	:where( & ) {
		cursor: pointer ;
		display: block ;
		max-width: 100% ;
	}

	:where( &.isFull ) {
		width: 100% ;
	}

	:where( & )::-webkit-file-upload-button,
	:where( & )::file-selector-button {
		background-color: var( --button-tertiary-fill ) ;
		border: 1px solid var( --button-tertiary-stroke ) ;
		border-radius: 2px ;
		color: var( --button-tertiary-text ) ;
		cursor: pointer ;
		margin-right: 2ch ;
		padding: 0.4rem 0.9rem ;
	}
}

.uiCheckbox {
	:where( & ) {
		-webkit-appearance: none ;
		appearance: none ;
		background-color: var( --control-fill ) ;
		border: 1px solid var( --control-stroke ) ;
		border-radius: 2px ;
		box-shadow: var( --control-inset-shadow ) ;
		display: flex ;
		height: 18px ;
		margin: 0 ;
		padding: 0 ;
		width: 18px ;
	}

	:where( & ):checked::after {
		background-color: var( --accent ) ;
		border-radius: 1px ;
		content: "" ;
		height: 12px ;
		margin: auto ;
		width: 12px ;
	}
}

.uiRadio {
	:where( & ) {
			-webkit-appearance: none ;
		appearance: none ;
		background-color: var( --control-fill ) ;
		border: 1px solid var( --control-stroke ) ;
		border-radius: 18px ;
		box-shadow: var( --control-inset-shadow ) ;
		display: flex ;
		height: 18px ;
		margin: 0 ;
		padding: 0 ;
		width: 18px ;
	}

	:where( & ):checked::after {
		background-color: var( --accent ) ;
		border-radius: 8px ;
		content: "" ;
		height: 8px ;
		margin: auto ;
		width: 8px ;
	}
}

.uiSelect {
	:where( & ) {
			-webkit-appearance: none ;
		appearance: none ;
		background-color: var( --control-fill ) ;
		background-image: var( --select-carrot-image ) ;
		background-position-x: right 10px ;
		background-position-y: top 52% ;
		background-repeat: no-repeat ;
		border: 1px solid var( --control-stroke ) ;
		border-radius: 2px ;
		color: var( --control-text ) ;
		display: block ;
		max-width: 100% ;
		padding: 0.6rem 2rem 0.6rem 0.7rem ;
		width: 100% ;
	}

	:where( &.isCompact ) {
		width: auto ;
	}
}

.uiTextarea {
	:where( & ) {
		background-color: var( --control-fill ) ;
		border: 1px solid var( --control-stroke ) ;
		border-radius: 2px ;
		box-shadow: var( --control-inset-shadow ) ;
		color: var( --control-text ) ;
		display: block ;
		height: 10rem ;
		padding: 0.6rem 0.7rem 0.6rem ;
		width: 100% ;
	}
}

.uiInput,
.uiTextarea,
.uiSelect {
	:where( &[aria-invalid="true"] ) {
		border-color: var( --control-stroke-error ) ;
		box-shadow: inset 0 0 0 3px var( --control-stroke-error ) ;
	}
}

.uiField {
	:where( & ) {
		margin-bottom: 1.4rem ;
	}

	:where( &_label ) {
		display: block ;
		font-weight: bold ;
		margin-bottom: 0.6rem ;
	}

	:where( &_star ) {
		color: var( --star-text ) ;
		font-weight: 400 ;
	}

	:where( &_content ) {
		margin-left: 2.2rem ;
	}

	:where( &_needsAttention ) {
		align-items: center ;
		background-color: var( --error-fill ) ;
		border: 1px solid var( --error-stoke ) ;
		border-radius: 2px ;
		color: var( --error-text ) ;
		display: flex ;
		gap: 15px ;
		padding: 0.4rem 0.7rem ;

		svg {
			color: var( --error-stoke ) ;
			height: 24px ;
			width: 24px ;
		}
	}

	@media ( max-width: 600px ) {
		:where( &_content ) {
			margin-left: 16px ;
		}
	}
}

.uiFieldset {
	:where( & ) {
		border: 1px solid var( --rule-soft ) ;
		padding: 1rem 1.5rem ;
	}
}

.uiHint {
	:where( & ) {
		font-size: 90% ;
	}
}

.uiLegend {
	:where( & ) {
		padding: 0px 0.8rem ;
	}
}

.uiOptionCard {
	:where( & ) {
		display: grid ;
		gap: 0.5rem 0.9rem ;
		grid-template-areas:
			"control label"
			". description"
		;
		grid-template-columns: auto 1fr ;
		margin: 1.2rem 0 ;
	}

	:where( &_control ) {
		align-self: center ;
		grid-area: control ;
	}

	:where( &_label ) {
		align-self: center ;
		font-weight: bold ;
		grid-area: label ;
		margin: 0 ;
	}

	:where( &_description ) {
		grid-area: description ;
		margin: 0 ;
	}
}

.uiFormButtons {
	:where( & ) {
		align-items: center ;
		border-top: 1px solid var( --rule-soft ) ;
		display: flex ;
		gap: 13px ;
		margin: 1.7rem 0 1rem 0 ;
		padding-top: 1.7rem ;
	}

	:where( & > * ) {
		flex: 0 1 auto ;
	}
}
