
[pm14ud] {
	&.pm14ud {
		background-color: var( --error-fill ) ;
		border: 1px solid var( --error-stroke ) ;
		border-radius: var( --radius ) ;
		border-left-width: 5px ;
		color: var( --error-text ) ;
		margin-bottom: var( --space-block ) ;
		margin-top: var( --space-block ) ;
		padding: var( --pad-block ) var( --pad-inline ) ;
		position: relative ;
	}

	&.scrollMargin {
		left: 0 ;
		pointer-events: none ;
		position: absolute ;
		top: -30px ;
	}
}
