[izm317] {
	&.izm317 {
		background-color: var( --success-fill ) ;
		border: 1px solid var( --success-stroke ) ;
		border-left-width: 5px;
		color: var( --success-text ) ;
		margin: 0 0 2rem 0 ;
		padding: 0.8rem 1rem ;
		position: relative ;
	}
}
