[wbo1mw] {
	&.wbo1mw {}

	h3 {
		margin: var( --space-block-s ) 0 var( --space-block-xs ) ;

		&:first-of-type {
			margin-top: 0 ;
		}
	}

	ul {
		margin-block: 0 ;
		padding-left: 26px ;
	}

	li {
		&:last-of-type {
			margin-bottom: 0 ;
		}
	}
}
